{% set pagename = '' %}
{% set pagedescription = '' %}
{% set pageid = 'top' %}
{% set hierarchy = 1 %}
{% extends '_template.html' %}

{% block local_css -%}
<!-- local css -->
<link rel="stylesheet" href="./assets/css/top.css">
<!-- / local css -->
{%- endblock %}

{% block contents -%}
<article class="contentsArea" id="contents">
  <div class="shadow"></div>
  <div class="top-secs">
    {% include "_top-sec-1.html" %}
    {% include "_top-sec-2.html" %}
    {% include "_top-sec-3.html" %}
    {% include "_top-sec-4.html" %}
    {% include "_top-sec-5.html" %}
    {% include "_top-sec-6.html" %}
  </div><!-- / .top-secs -->
</article><!-- / .contentsArea -->
{%- endblock %}

{% block local_js -%}
<!-- local js -->
<script>
let swiper;
$(function() {
  swiper = new Swiper('.js-aslider', {
    speed: 1000,
    pagination: {
      el: '.js-asliderPagination',
      clickable: true
    },
    navigation: {
      nextEl: '.js-asliderNext',
      prevEl: '.js-asliderPrev',
    },
    loop: true,
    slidesPerView: 'auto',
    spaceBetween:0,
    effect: 'fade',
    autoplay: {
      delay: 2000,
      disableOnInteraction: false, 
    }
  });
});
</script>
<!-- / local js -->
{%- endblock %}