{% set pagename = '' %}
{% set pagedescription = '' %}
{% set pageid = 'top' %}
{% set hierarchy = 1 %}
{% extends '_template.html' %}

{% block local_css -%}
<!-- local css -->
<link rel="stylesheet" href="./assets/css/top.css">
<!-- / local css -->
{%- endblock %}

{% block contents -%}
<article class="contentsArea" id="contents">
  <div class="shadow"></div>
  {% include "_top-sec-1.html" %}
  {% include "_top-sec-2.html" %}
  {% include "_top-sec-3.html" %}
  {% include "_top-sec-4.html" %}
  {% include "_top-sec-5.html" %}
  {% include "_top-sec-6.html" %}
</article><!-- / .contentsArea -->
{%- endblock %}

{% block local_js -%}
<!-- local js -->
<!-- / local js -->
{%- endblock %}