/* ===============================================================================
Module
=============================================================================== */
/* button module 
========================= */
/* m-btn-1 */
.m-btn-1 {
  min-height: 48px;
  min-width: 240px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #5db4a8;
  position: relative;
  z-index: 1;
  color: #fff;
  border-radius: 38px;
  padding: 12px 20px;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.m-btn-1::after {
  position: absolute;
  content: "";
  display: block;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: solid 1px #fff;
  border-radius: 48px;
  pointer-events: none;
}
.m-btn-1__arr {
  display: block;
  width: 21px;
  height: 9px;
  min-width: 21px;
  margin: 3px 8px 0 -8px;
  -webkit-mask: url("../img/cmn/cmn_arr01.svg") no-repeat center center/contain;
          mask: url("../img/cmn/cmn_arr01.svg") no-repeat center center/contain;
  background: #fff;
}
.m-btn-1__insta {
  display: block;
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin-right: 8px;
  -webkit-mask: url("../img/cmn/cmn_sns02.svg") no-repeat center center/contain;
          mask: url("../img/cmn/cmn_sns02.svg") no-repeat center center/contain;
  background: #fff;
}
.m-btn-1__txt {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.25;
}
.m-btn-1.m-btn-1_c-2 {
  background: #fff;
  color: #12609f;
}
.m-btn-1.m-btn-1_c-2::after {
  border-color: #12609f;
}
.m-btn-1.m-btn-1_c-2 .m-btn-1__arr {
  background: #12609f;
}
.m-btn-1.m-btn-1_c-2 .m-btn-1__insta {
  background: #12609f;
}
.m-btn-1.m-btn-1_c-3 {
  background: #12609f;
}
@media screen and (min-width: 769px) {
  .m-btn-1:hover {
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px);
    box-shadow: none;
  }
}
@media screen and (max-width: 768px) {
  .m-btn-1 {
    min-height: 48px;
    min-width: 1px;
    padding: 12px 16px;
  }
  .m-btn-1__arr {
    width: 20px;
    height: 28px;
    min-width: 20px;
    margin: 3px 8px 0 -8px;
  }
  .m-btn-1__insta {
    width: 23px;
    height: 23px;
    min-width: 23px;
    margin-right: 8px;
  }
  .m-btn-1__txt {
    font-size: 1rem;
  }
}

/* heading module 
========================= */
/* m-h-1 */
.m-h-1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 70;
  color: #12609f;
  font-size: 2.375rem;
  line-height: 1.24;
}
@media screen and (max-width: 768px) {
  .m-h-1 {
    font-size: 2rem;
  }
}

/* slider module 
========================= */
/* m-slider-1 */
.m-slider-1__inr {
  position: relative;
}
.m-slider-1__inr::after {
  position: absolute;
  content: "";
  display: block;
  top: -6px;
  left: 6px;
  width: 100%;
  height: 100%;
  border: solid 2px #fff;
  box-sizing: border-box;
  z-index: 1;
}
.m-slider-1 .swiper-slide {
  padding-top: 100%;
  position: relative;
}
.m-slider-1 .swiper-slide img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.m-slider-1__next, .m-slider-1__prev {
  position: absolute;
  width: 32px;
  height: 32px;
  background: #12609f;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 2;
  cursor: pointer;
  -webkit-mask: url("../img/cmn/cmn_arr02.svg") no-repeat center center/24px auto;
          mask: url("../img/cmn/cmn_arr02.svg") no-repeat center center/24px auto;
}
@media screen and (min-width: 769px) {
  .m-slider-1__next:hover, .m-slider-1__prev:hover {
    opacity: 0.8;
  }
}
.m-slider-1__next {
  right: -44px;
}
.m-slider-1__prev {
  left: -44px;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.m-slider-1__pagination {
  font-size: 0;
  margin: 7px 0 -3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.m-slider-1__pagination .swiper-pagination-bullet {
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 3px;
  background: none;
  border: solid 1px #12609f;
  box-sizing: border-box;
}
.m-slider-1__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #12609f;
}
.m-slider-1.m-slider-1_t2 .m-slider-1__inr::after {
  border-color: #deecf6;
}
.m-slider-1.m-slider-1_t2 .swiper-slide {
  padding-top: 56.25%;
}
@media screen and (max-width: 768px) {
  .m-slider-1__inr::after {
    top: -4px;
    left: 4px;
  }
  .m-slider-1__next, .m-slider-1__prev {
    width: 24px;
    height: 24px;
    -webkit-mask-size: 20px auto;
            mask-size: 20px auto;
  }
  .m-slider-1__next {
    right: -32px;
  }
  .m-slider-1__prev {
    left: -32px;
  }
}

/* contact module 
========================= */
/* m-cnt-1 */
.m-cnt-1 .wpcf7-response-output {
  margin: 0 0 48px !important;
  border: 2px solid #12609f !important;
  padding: 24px !important;
  font-weight: 700 !important;
}
.m-cnt-1 .invalid .wpcf7-response-output {
  border-color: #eb032a !important;
  color: #eb032a !important;
}
.m-cnt-1 .wpcf7-not-valid-tip {
  font-size: 15px;
  font-weight: 700;
  color: #eb032a;
  margin-top: 8px;
}
.m-cnt-1__item:not(:last-child) {
  margin-bottom: 32px;
}
.m-cnt-1__grp {
  margin-bottom: 40px;
}
.m-cnt-1__grp-2 {
  margin-bottom: 48px;
}
.m-cnt-1__ttl {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 700;
  color: #12609f;
  letter-spacing: 0.05em;
  padding-left: 11px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}
.m-cnt-1__ttl::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px;
  background: #12609f;
  color: #12609f;
}
.m-cnt-1__txt {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 12px;
}
.m-cnt-1__iTxt input[type=text], .m-cnt-1__iTxt input[type=email] {
  height: 40px;
  width: 100%;
  padding: 4px 16px;
  background: #fff;
  font-size: 1rem;
  line-height: 1.5;
  box-sizing: border-box;
  -webkit-appearance: none;
          appearance: none;
  border-radius: 0;
  border: none;
  display: block;
}
.m-cnt-1__req {
  border-radius: 20px;
  border: solid 2px #eb032a;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.34;
  color: #eb032a;
  padding: 0 8px;
  margin-left: 12px;
}
.m-cnt-1__tArea textarea {
  height: 240px;
  width: 100%;
  padding: 16px;
  background: #fff;
  font-size: 1rem;
  line-height: 1.5;
  box-sizing: border-box;
  -webkit-appearance: none;
          appearance: none;
  border-radius: 0;
  border: none;
  display: block;
}
.m-cnt-1__agree__txt {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 32px;
}
@media screen and (min-width: 769px) {
  .m-cnt-1__agree__txt a:hover {
    text-decoration: underline;
  }
}
.m-cnt-1__agree__chk {
  text-align: center;
}
.m-cnt-1__agree__chk .wpcf7-list-item {
  margin: 0;
  display: inline-block;
}
.m-cnt-1__agree__chk input {
  margin: 0;
  display: none;
}
.m-cnt-1__agree__chk input + .wpcf7-list-item-label, .m-cnt-1__agree__chk input + span {
  margin: 0;
  position: relative;
  padding-left: 40px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.m-cnt-1__agree__chk input + .wpcf7-list-item-label a, .m-cnt-1__agree__chk input + span a {
  color: #12609f;
  text-decoration: underline;
}
@media screen and (min-width: 769px) {
  .m-cnt-1__agree__chk input + .wpcf7-list-item-label a:hover, .m-cnt-1__agree__chk input + span a:hover {
    opacity: 0.8;
  }
}
.m-cnt-1__agree__chk input + .wpcf7-list-item-label::before, .m-cnt-1__agree__chk input + .wpcf7-list-item-label::after, .m-cnt-1__agree__chk input + span::before, .m-cnt-1__agree__chk input + span::after {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  top: -2px;
  position: absolute;
}
.m-cnt-1__agree__chk input + .wpcf7-list-item-label::before, .m-cnt-1__agree__chk input + span::before {
  border: solid 1px #12609f;
  box-sizing: border-box;
  background: #fff;
}
.m-cnt-1__agree__chk input + .wpcf7-list-item-label::after, .m-cnt-1__agree__chk input + span::after {
  background: #fff;
  -webkit-mask: url("../img/cmn/cmn_chk01.svg") no-repeat center center/70% auto;
          mask: url("../img/cmn/cmn_chk01.svg") no-repeat center center/70% auto;
}
.m-cnt-1__agree__chk input:checked + .wpcf7-list-item-label::before, .m-cnt-1__agree__chk input:checked + span::before {
  border-color: #12609f;
  background: #12609f;
}
@media screen and (max-width: 768px) {
  .m-cnt-1__item:not(:last-child) {
    margin-bottom: 28px;
  }
  .m-cnt-1__grp {
    margin-bottom: 32px;
  }
  .m-cnt-1__grp-2 {
    margin-bottom: 32px;
  }
  .m-cnt-1__ttl {
    font-size: 1.125rem;
  }
  .m-cnt-1__txt {
    font-size: 0.9375rem;
    margin-top: 10px;
  }
  .m-cnt-1__agree__txt {
    font-size: 0.9375rem;
    margin-bottom: 24px;
  }
  .m-cnt-1__agree__chk input + .wpcf7-list-item-label, .m-cnt-1__agree__chk input + span {
    font-size: 0.9375rem;
    padding-left: 32px;
  }
  .m-cnt-1__agree__chk input + .wpcf7-list-item-label::before, .m-cnt-1__agree__chk input + .wpcf7-list-item-label::after, .m-cnt-1__agree__chk input + span::before, .m-cnt-1__agree__chk input + span::after {
    width: 24px;
    height: 24px;
    top: -1px;
  }
}

/* general module 
========================= */
.txtL {
  text-align: left !important;
}

.txtC {
  text-align: center !important;
}

.txtR {
  text-align: right !important;
}

.mid {
  font-weight: 500 !important;
}

.bold {
  font-weight: 700 !important;
}