@import "setting";
/* ===============================================================================
Header
=============================================================================== */
.headerArea{
  padding: 16px 0;
  background: #fff;
  position: fixed;
  top: 0; left: 0; width: 100%;
  z-index: 9999;
  &__inr{
    padding: 0 40px;
    display: flex;
    align-items: center;
  }
  .blks-1{
    .grp{
      display: flex;
      align-items: flex-end;
      &__logo{
        width: 243px;
        margin-right: 24px;
        a{
          @include hoverLink;
        }
        img{
          display: inline-block;
          width: 100%;
          height: auto;
        }
      }
      &__txt{
        display: inline-block;
        font-size: f(18);
        line-height: lh(28,18);
        padding: 0 8px;
        font-weight: 700;
        margin-bottom: -3px;
        letter-spacing: .02em;
        background: #e9e9e9;
      }
    }
  }
  .blks-2{
    flex: 1;
    &__inr{
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .llist{
      display: flex;
      flex-wrap: wrap;
      margin-right: 16px;
      &__item{
        font-size: f(15);
        font-weight: 700;
        font-family: $en;
        margin: 4px 16px;
        @include pc{
          a:hover{
            color: $blue;
          }
        }
      }
    }
    .insta{
      &__ico{
        display: block;
        width: 48px; height: 48px;
        mask: url("../img/cmn/cmn_sns01.svg") no-repeat center center / contain;
        background: $blue;
      }
      a{
        @include hoverLink;
      }
    }
  }
  @include tb{
    padding: 0;
    height: 88px;
    &__inr{
      padding: 0;
    }
    .blks-1{
      .grp{
        position: absolute;
        left: 24px;
        top: 16px;
      }
      .menuBtn{
        $barColor: #fff;
        $barWidth: 28px;
        $barHeight: 18px;
        $boederHeight: 2px;
        width: 48px;
        height: 48px;
        background: $blue;
        border-radius: 100%;
        position: absolute;
        right: 24px; top: 0; bottom: 0;
        margin: auto 0;
        cursor: pointer;
        &__bar{
          width: $barWidth;
          height: $barHeight;
          position: absolute;
          top:0; right:0; left:0; bottom:0;
          margin: auto;
          &::before, &::after{
            position:absolute;
            content:"";
            display:block;
            left:0;
            width: 100%; height: $boederHeight;
            background: $barColor;
            transition-property: left, top, bottom, transform;
            transition-duration: .3s;
          }
          &::before{
            top:0;
            transform-origin: left top;
          }
          &::after{
            bottom:0;
            transform-origin: left bottom;
          }
          span{
            display: block;
            width: 100%;
            height: $boederHeight;
            background: $barColor;
            position: absolute;
            top:0; bottom:0; left:0;
            margin: auto 0;
            transition: opacity .3s;
          }
        }
        &.is-active{
          .menuBtn__bar{
            &::before{
              transform: rotate(45deg);
              top:round( calc( ($barHeight - ($barWidth/1.41421 + ($boederHeight/1.41421))) / 2 ) );
              left:round( calc( ($barWidth - ($barWidth/1.41421 - ($boederHeight/1.41421))) / 2 ) );
            }
            &::after{
              transform: rotate(-45deg);
              bottom:round( calc( ($barHeight - ($barWidth/1.41421 + ($boederHeight/1.41421))) / 2 ) );
              left:round( calc( ($barWidth - ($barWidth/1.41421 - ($boederHeight/1.41421))) / 2 ) );
            }
          }
          span{
            opacity: 0;
          }
        }
      }
    }
    .blks-2{
      position: fixed;
      top: 88px; left: -110%; width: 100%; bottom: 0;
      background: rgba($blue, .9);
      overflow: hidden;
      transition: left .25s;
      pointer-events: none;
      &__inr{
        display: block;
        padding: 80px 40px;
      }
      .llist{
        display: block;
        margin: 0 0 56px;
        &__item{
          margin: 0;
          font-size: f(18);
          text-align: center;
          color:#fff;
          &:not(:last-child){
            margin-bottom: 56px;
          }
        }
      }
      .insta{
        &__ico{
          margin: 0 auto;
          background: #fff;
        }
      }
    }
    &.is-active{
      .blks-2{
        left: 0;
        pointer-events: auto;
      }
    }
  }
  @include sp{
    height: 72px;
    .blks-1{
      .grp{
        left: 16px;
        top: 6px;
        display: block;
        &__logo{
          width: 170px;
          margin: 0 auto 4px;
          img{
            // height: 40px;
          }
        }
        &__txt{
          display: block;
          font-size: f(10);
          padding: 0 4px;
          margin-bottom: 0;
        }
      }
      .menuBtn{
        right: 16px;
      }
    }
    .blks-2{
      top: 72px;
      &__inr{
        padding: 80px 40px;
      }
      .llist{
        margin: 0 0 56px;
        &__item{
          font-size: f(15);
          &:not(:last-child){
            margin-bottom: 56px;
          }
        }
      }
    }
  }
}