@charset "utf-8";
@import "setting";

/* top-sec-4 */
.top-sec-4{
  padding: 72px 0 96px;
  &__inr{
    max-width: 976px;
    padding: 0 40px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .blks-1{
    margin-bottom: 24px;
    .grp{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
      &__h{
        margin-right: 24px;
      }
      &__ico{
        width: 56px; height: 56px;
        mask: url("../img/cmn/cmn_sns01.svg") no-repeat center center / contain;
        background: $blue;
        display: block;
        @include hoverLink;
      }
    }
    .grp-2{
      display: flex;
      align-items: center;
      justify-content: center;
      &__txt{
        font-size: f(16);
        line-height: lh(24,16);
        margin-right: 24px;
      }
      &__btn{
        width: 240px;
        min-width: 240px;
      }
    }
  }
  .blks-2{
    .txt{
      font-size: f(17);
      line-height: lh(25,17);
      font-weight: 700;
      color: $blue;
      margin-bottom: 16px;
      a{
        @include hoverLink;
      }
    }
    .insta{
      #sbi_images{
        padding: 0;
      }
      .sb_instagram_header, #sbi_load, #sbi_mod_error{
        display: none!important;
      }
    }
  }
  @include sp{
    padding: 56px 0;
    &__inr{
      padding: 0 24px;
    }
    .blks-1{
      .grp{
        margin-bottom: 16px;
        &__h{
          margin-right: 16px;
        }
        &__ico{
          width: 48px; height: 48px;
        }
      }
      .grp-2{
        display: block;
        &__txt{
          font-size: f(15);
          text-align: center;
          margin: 0 0 16px;
        }
        &__btn{
          width: auto;
          min-width: 1px;
          margin: 0 16px;
        }
      }
    }
    .blks-2{
      .txt{
        font-size: f(17);
        line-height: lh(25,17);
        font-weight: 700;
        color: $blue;
        margin-bottom: 16px;
      }
      .insta{
        #sbi_images{
          gap: 16px!important;
        }
      }
    }
  }
}