@charset "utf-8";
@import "setting";

/* top-sec-3 */
.top-sec-3{
  padding: 72px 40px;
  background: $skyblue;
  position: relative;
  z-index: 1;
  &::before{
    position:absolute;
    content:"";
    display:block;
    top:0; left:0; width: 100%; height: 100%;
    z-index: -1;
    opacity: .1;
    background: url("../img/top/top_bg01.jpg") no-repeat center center / cover;
  }
  &__inr{
    max-width: 1200px;
    background: #fff;
    padding: 88px 56px 64px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
  }
  .blks-1{
    // position: relative; 
    padding-bottom: 18px;
    border-bottom: dotted 1px $text;
    margin-bottom: 48px;
    .grp{
      position: absolute;
      top: 32px; left: -16px;
      display: flex;
      align-items: baseline;
      &__h{
        font-size: f(24);
        font-weight: 700;
        line-height: lh(34,24);
        letter-spacing: .15em;
        background: $blue;
        color:#fff;
        padding: 4px 32px;
        margin-right: 12px;
      }
      &__txt{
        font-size: f(13);
        line-height: lh(22,13);
        font-weight: 700;
      }
    }
    .col2{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__lt{
        order: 0;
        padding: 24px 0 44px;
      }
      &__rt{
        order: 1;
        max-width: 464px;
        width: 50%;
        padding: 0 24px 0 56px;
      }
    }
    .dlist{
      &__item{
        &:not(:last-child){
          margin-bottom: 20px;
        }
        &__ttl{
          font-size: f(16);
          line-height: lh(24,16);
          font-weight: 700;
          color: $blue;
          padding-left: 8px;
          border-left: solid 3px $blue;
          margin-bottom: 8px;
        }
        &__dtl{
          font-size: f(16);
          line-height: lh(28,16);
        }
      }
    }
    .slider{
      
    }
  }
  .blks-2{
    .txt{
      font-size: f(16);
      line-height: lh(28,16);
      margin-bottom: 32px;
      em{
        font-weight: 700;
      }
      strong{
        font-weight: 700;
        color: $blue;
      }
      p + p{
        margin-top: 28px;
      }
    }
    .caution{
      font-size: f(14);
      line-height: lh(22,14);
      padding-left: 1em;
      text-indent: -1em;
      margin-bottom: 56px;
      a{
        color: $blue;
        text-decoration: underline;
        @include hoverLink;
      }
    }
    .btns{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: -6px -12px;
      &__item{
        width: 400px;
        margin: 6px 12px;
      }
    }
  }
  @include tb{
    &__inr{
      padding-top: 112px;
    }
    .blks-1{
      .col2{
        display: block;
        &__lt{
          padding: 0;
        }
        &__rt{
          width: auto;
          padding: 0;
          margin: 0 auto 40px;
        }
      }
    }
  }
  @include sp{
    padding: 56px 12px;
    &::before{
      content: none;
    }
    &__inr{
      padding: 40px 24px;
    }
    .blks-1{
      // position: relative; 
      padding-bottom: 32px;
      margin-bottom: 32px;
      .grp{
        position: static;
        display: block;
        margin-bottom: 20px;
        &__h{
          display: inline-block;
          font-size: f(18);
          padding: 4px 24px 4px 32px;
          margin: 0 0 6px;
          position: relative;
          left: -32px;
        }
        &__txt{
          font-size: f(12);
        }
      }
      .col2{
        &__lt{
        }
        &__rt{
          margin-bottom: 32px;
        }
      }
      .dlist{
        &__item{
          &:not(:last-child){
            margin-bottom: 24px;
          }
          &__ttl{
            font-size: f(15);
          }
          &__dtl{
            font-size: f(15);
          }
        }
      }
      .slider{
        
      }
    }
    .blks-2{
      .txt{
        font-size: f(15);
        line-height: 2;
        margin-bottom: 24px;
        p + p{
          margin-top: 20px;
        }
      }
      .caution{
        font-size: f(12);
        margin-bottom: 32px;
      }
      .btns{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: -6px -12px;
        &__item{
          width: 400px;
          margin: 6px 12px;
        }
      }
    }
  }
}