@charset "utf-8";
@import "setting";

/* top-sec-5 */
.top-sec-5{
  background: $skyblue;
  padding: 96px 0;
  &__inr{
    padding: 0 40px;
  }
  .blks-1{
    margin-bottom: 32px;
    .h{
      margin-bottom: 24px;
    }
    .txt{
      text-align: center;
      font-size: f(16);
      line-height: lh(24,16);
    }
  }
  .blks-2{
    max-width: 960px;
    margin: 0 auto 64px;
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 40px 40px 48px;
    &::after{
      position:absolute;
      content:"";
      display:block;
      top: 6px; left: 6px; right: 6px; bottom: 6px;
      border: solid 1px $blue;
    }
    .h{
      font-size: f(24);
      line-height: lh(40,24);
      font-weight: 700;
      letter-spacing: .05em;
      color: $blue;
      text-align: center;
      margin-bottom: 24px;
    }
    .txt{
      font-size: f(16);
      line-height: lh(28,16);
      font-weight: 700;
      text-align: center;
    }
    .txt-2{
      font-size: f(16);
      line-height: lh(28,16);
      text-align: center;
      margin-bottom: 24px;
    }
    .btn{
      width: 400px;
      margin: 0 auto 32px;
    }
    .txt-3{
      font-size: f(16);
      line-height: lh(28,16);
      text-align: center;
    }
  }
  .blks-3{
    max-width: 800px;
    margin: 0 auto;
  }
  @include sp{
    padding: 56px 0;
    &__inr{
      padding: 0 12px;
    }
    .blks-1{
      margin-bottom: 24px;
      .h{
        margin-bottom: 16px;
      }
      .txt{
        font-size: f(15);
      }
    }
    .blks-2{
      margin-bottom: 40px;
      padding: 28px 24px 32px;
      &::after{
        top: 4px; left: 4px; right: 4px; bottom: 4px;
      }
      .h{
        font-size: f(20);
        line-height: 1.5;
        margin-bottom: 16px;
      }
      .txt{
        font-size: f(15);
        margin-bottom: 8px;
      }
      .txt-2{
        font-size: f(15);
        margin-bottom: 20px;
      }
      .btn{
        width: auto;
        margin: 0 8px 24px;
      }
      .txt-3{
        font-size: f(15);
      }
    }
    .blks-3{
      margin: 0 12px;
    }
  }
}