@charset "utf-8";
@import "setting";

/* top-sec-2 */
.top-sec-2{
  padding: 68px 0 112px;
  position: relative;
  z-index: 2;
  &::before, &::after{
    position:absolute;
    content:"";
    display:block;
    width: 100%;
    min-width: 1440px;
    left: 50%;
    transform: translateX(-50%);
    height: 192px;
    background: $blue;
    clip-path: polygon(0 0, 0% 100%, 160px 0);
  }
  &::before{
    top: -44px;
  }
  &::after{
    bottom: -16px;
    clip-path: polygon(calc(100% - 160px) 100%, 100% 100%, 100% 0);
  }
  &__inr{
    padding: 0 40px;
  }
  .blks-1{
    margin-bottom: 54px;
    .h{
      margin-bottom: 10px;
    }
    .logo{
      width: 217px;
      margin: 0 auto;
      img{
        width: 100%;
        display: block;
      }
    }
  }
  .blks-2{
    .col2{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      max-width: 1440px;
      margin: 0 auto;
      &__lt{
        background: $skyblue;
        padding: 32px 56px 24px;
        max-width: 720px;
        // width: 50%;
        width: 50%;
        box-sizing: border-box;
        margin-right: 56px;
      }
      &__rt{
        flex: 1;
        margin-top: 16px;
      }
    }
    .slider{
      width: 100%;
    }
    .txt{
      display: inline-block;
      font-size: f(18);
      line-height: lh(26,18);
      font-weight: 700;
      letter-spacing: .02em;
      margin-bottom: 24px;
      padding: 10px 0;
      color: $green;
      position: relative;
      &::before, &::after{
        position:absolute;
        content:"";
        display:block;
        left:0; width: 100%;
        height: 3px; border: solid 1px $green;
        box-sizing: border-box;
      }
      &::before{
        top: 0;
      }
      &::after{
        bottom: 0;
      }
    }
    .h{
      font-size: f(24);
      line-height: lh(35,24);
      font-weight: 700;
      letter-spacing: .1em;
      margin-bottom: 24px;
    }
    .txt-2{
      font-size: f(16);
      line-height: lh(32,16);
      margin-bottom: 24px;
      em{
        color: $blue;
        font-weight: 700;
      }
      p + p{
        margin-top: 24px;
      }
    }
    .dlist{
      border-left: solid 4px #e9e9e9;
      padding: 6px 0 8px 20px;
      margin-bottom: 24px;
      &__item{
        display: flex;
        font-size: f(16);
        line-height: lh(26,16);
        letter-spacing: .1em;
        color: $blue;
        font-weight: 700;
        &:not(:last-child){
          margin-bottom: 12px;
        }
        &__ttl{
          width: 144px;
          overflow: hidden;
          margin-right: 8px;
          span{
            display: inline-block;
            position: relative;
            &::after{
              position:absolute;
              content:"";
              display:block;
              top:0; left: calc(100% + 10px); bottom:0;
              margin: auto 0;
              height: 1px; width: 100vw;
              background: $blue;
            }
          }
        }
        &__dtl{
          flex: 1;
        }
      }
    }
    .txt-3{
      font-size: f(16);
      line-height: lh(32,16);
      em{
        color: $blue;
        font-weight: 700;
      }
      p + p{
        margin-top: 24px;
      }
    }
  }
  @include tb{
    .blks-2{
      .col2{
        display: block;
        &__lt{
          width: auto;
          margin: 0 auto 40px;
        }
        &__rt{
          
        }
      }
    }
  }
  @include sp{
    padding: 64px 0 64px;
    &::before, &::after{
      min-width: 1px;
      left: auto;
      transform: none;
      width: 48px;
      height: 56px;
      clip-path: polygon(0 0, 0% 100%, 100% 0);
    }
    &::before{
      top: -16px;
      left: 0;
    }
    &::after{
      right: 0;
      clip-path: polygon(0 100%, 100% 100%, 100% 0);
    }
    &__inr{
      padding: 0 24px;
    }
    .blks-1{
      margin-bottom: 32px;
      .h{
        margin-bottom: 8px;
      }
      .logo{
        width: 172px;
      }
    }
    .blks-2{
      .col2{
        &__lt{
          padding: 32px 24px 24px;
          width: auto;
          margin: 0 auto 40px;
        }
        &__rt{
          margin-top: 20px;
        }
      }
      .slider{
        width: 100%;
      }
      .txt{
        font-size: f(16);
        margin-bottom: 24px;
      }
      .h{
        font-size: f(20);
        margin-bottom: 20px;
      }
      .txt-2{
        font-size: f(15);
        margin-bottom: 20px;
        p + p{
          margin-top: 20px;
        }
      }
      .dlist{
        border-left: solid 4px #e9e9e9;
        padding: 6px 0 8px 16px;
        margin-bottom: 20px;
        &__item{
          font-size: f(15);
          &:not(:last-child){
            margin-bottom: 12px;
          }
          &__ttl{
            width: 120px;
            margin-right: 10px;
          }
        }
      }
      .txt-3{
        font-size: f(15);
        p + p{
          margin-top: 20px;
        }
      }
    }
  }
}