@charset "utf-8";
@import "setting";

/* ===============================================================================
Module
=============================================================================== */
/* button module 
========================= */
/* m-btn-1 */
.m-btn-1{
  min-height: 48px;
  min-width: 240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: $green;
  position: relative;
  z-index: 1;
  color:#fff;
  border-radius: 38px;
  padding: 12px 20px;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(#000, .16);
  cursor: pointer;
  &::after{
    position:absolute;
    content:"";
    display:block;
    top:4px; left:4px; right: 4px; bottom: 4px;
    border: solid 1px #fff;
    border-radius: 48px;
    pointer-events: none;
  }
  &__arr{
    display: block;
    width: 21px; height: 9px;
    min-width: 21px;
    margin: 3px 8px 0 -8px;
    mask: url("../img/cmn/cmn_arr01.svg") no-repeat center center / contain;
    background: #fff;
  }
  &__insta{
    display: block;
    width: 24px; height: 24px;
    min-width: 24px;
    margin-right: 8px;
    mask: url("../img/cmn/cmn_sns02.svg") no-repeat center center / contain;
    background: #fff;
  }
  &__txt{
    font-size: f(18);
    font-weight: 500;
    line-height: 1.25;
  }
  &.m-btn-1_c-2{
    background: #fff;
    color: $blue;
    &::after{
      border-color: $blue;
    }
    .m-btn-1{
      &__arr{
        background: $blue;
      }
      &__insta{
        background: $blue;
      }
    }
  }
  &.m-btn-1_c-3{
    background: $blue;
  }
  @include pc{
    &:hover{
      transform: translateY(3px);
      box-shadow: none;
    }
  }
  @include sp{
    min-height: 48px;
    min-width: 1px;
    padding: 12px 16px;
    width: 100%;
    &__arr{
      width: round(21px*.95); height: round(29px*.95);
      min-width: round(21px*.95);
      margin: round(3px*.95) round(8px*.95) 0 round(-8px*.95);
    }
    &__insta{
      width: round(24px*.95); height: round(24px*.95);
      min-width: round(24px*.95);
      margin-right: round(8px*.95);
    }
    &__txt{
      font-size: f(16);
    }
  }
}

/* heading module 
========================= */
/* m-h-1 */
.m-h-1{
  text-align: center;
  font-family: $en;
  font-weight: 70;
  color: $blue;
  font-size: f(38);
  line-height: lh(47,38);
  @include sp{
    font-size: f(32);
  }
}

/* slider module 
========================= */
/* m-slider-1 */
.m-slider-1{
  &__inr{
    position: relative;
    &::after{
      position:absolute;
      content:"";
      display:block;
      top:-6px; left:6px;
      width: 100%; height: 100%;
      border: solid 2px #fff;
      box-sizing: border-box;
      z-index: 1;
    }
  }
  .swiper-slide{
    padding-top: 100%;
    position: relative;
    img{
      position: absolute;
      object-fit: cover;
      top:0; left:0;
      width: 100%;
      height: 100%;
    }
  }
  &__next, &__prev{
    position: absolute;
    width: 32px; height: 32px;
    background: $blue;
    top: 0; bottom: 0; margin: auto 0;
    z-index: 2;
    cursor: pointer;
    mask: url("../img/cmn/cmn_arr02.svg") no-repeat center center / 24px auto;
    @include hoverLink;
  }
  &__next{
    right: -44px;
  }
  &__prev{
    left: -44px;
    transform: scale(-1, 1);
  }
  &__pagination{
    font-size: 0;
    margin: 7px 0 -3px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .swiper-pagination-bullet{
      opacity: 1;
      width: 10px; height: 10px;
      margin: 3px;
      background: none;
      border: solid 1px $blue;
      box-sizing: border-box;
      &.swiper-pagination-bullet-active{
        background: $blue;
      }
    }
  }
  &.m-slider-1_t2{
    .m-slider-1{
      &__inr{
        &::after{
          border-color: $skyblue;
        }
      }
    }
    .swiper-slide{
      padding-top: 56.25%;
    }
  }
  @include sp{
    &__inr{
      &::after{
        top:-4px; left:4px;
      }
    }
    &__next, &__prev{
      width: 24px; height: 24px;
      mask-size: 20px auto;
    }
    &__next{
      right: -32px;
    }
    &__prev{
      left: -32px;
    }
    // &__pagination{
    //   margin: 6px 0 -2px;
    //   .swiper-pagination-bullet{
    //     width: 8px; height: 8px;
    //     margin: 2px;
    //   }
    // }
  }
}

/* contact module 
========================= */
/* m-cnt-1 */
.m-cnt-1{
  .wpcf7-response-output{
    margin: 0 0 48px!important;
    border: 2px solid $blue!important;
    padding: 24px!important;
    font-weight: 700!important;
  }
  .invalid{
    .wpcf7-response-output{
      border-color: $red!important;
      color: $red!important;
    }
  }
  .wpcf7-not-valid-tip{
    font-size: 15px;
    font-weight: 700;
    color: $red;
    margin-top: 8px;
  }
  &__item{
    &:not(:last-child){
      margin-bottom: 32px;
    }
  }
  &__grp{
    margin-bottom: 40px;
  }
  &__grp-2{
    margin-bottom: 48px;
  }
  &__ttl{
    font-size: f(20);
    line-height: lh(32,20);
    font-weight: 700;
    color: $blue;
    letter-spacing: .05em;
    padding-left: 11px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    &::before{
      position:absolute;
      content:"";
      display:block;
      top:0; left:0; bottom: 0;
      width: 4px;
      background: $blue;
      color: $blue;
    }
  }
  &__txt{
    font-size: f(16);
    line-height: lh(24,16);
    margin-top: 12px;
  }
  &__iTxt{
    input[type="text"],input[type="email"] {
      height: 40px;
      width: 100%;
      padding: 4px 16px;
      background: #fff;
      font-size: f(16);
      line-height: 1.5;
      box-sizing: border-box;
      appearance: none;
      border-radius: 0;
      border: none;
      display: block;
    }
  }
  &__req{
    border-radius: 20px;
    border: solid 2px $red;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    font-size: f(12);
    font-weight: 700;
    line-height: lh(16,12);
    color: $red;
    padding: 0 8px;
    margin-left: 12px;
  }
  &__tArea{
    textarea{
      height: 240px;
      width: 100%;
      padding: 16px;
      background: #fff;
      font-size: f(16);
      line-height: 1.5;
      box-sizing: border-box;
      appearance: none;
      border-radius: 0;
      border: none;
      display: block;
    }
  }
  &__agree{
    &__txt{
      text-align: center;
      font-size: f(16);
      line-height: lh(24,16);
      font-weight: 500;
      margin-bottom: 32px;
      a{
        @include pc{
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    &__chk{
      text-align: center;
      .wpcf7-list-item{
        margin: 0;
        display: inline-block;
      }
      input{
        margin: 0;
        display: none;
        & + .wpcf7-list-item-label, & + span{
          margin: 0;
          position: relative;
          padding-left: 40px;
          font-size: f(16);
          font-weight: 700;
          line-height: 1.5;
          user-select: none;
          a{
            color: $blue;
            text-decoration: underline;
            @include hoverLink;
          }
          &::before, &::after{
            content: "";
            display: block;
            width: 28px;
            height: 28px;
            top: -2px;
            position: absolute;
          }
          &::before{
            border: solid 1px $blue;
            box-sizing: border-box;
            background: #fff;
          }
          &::after{
            background: #fff;
            mask: url("../img/cmn/cmn_chk01.svg") no-repeat center center / 70% auto;
          }
        }
        &:checked + .wpcf7-list-item-label, &:checked + span{
          &::before{
            border-color: $blue;
            background: $blue;
          }
        }
      }
    }
  }
  @include sp{
    &__item{
      &:not(:last-child){
        margin-bottom: 28px;
      }
    }
    &__grp{
      margin-bottom: 32px;
    }
    &__grp-2{
      margin-bottom: 32px;
    }
    &__grp-3{
      margin: 0 16px;
    }
    &__ttl{
      font-size: f(18);
    }
    &__txt{
      font-size: f(15);
      margin-top: 10px;
    }
    &__agree{
      &__txt{
        font-size: f(15);
        margin-bottom: 24px;
      }
      &__chk{
        input{
          & + .wpcf7-list-item-label, & + span{
            font-size: f(15);
            padding-left: 32px;
            &::before, &::after{
              width: 24px;
              height: 24px;
              top: -1px;
            }
          }
        }
      }
    }
  }
}

/* general module 
========================= */
.txtL{text-align: left!important;}
.txtC{text-align: center!important;}
.txtR{text-align: right!important;}
.mid{font-weight:500!important}
.bold{font-weight:700!important}